{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="{% static 'contatos/css/estilo.css' %}">
</head>

<body>
    <div class="container" style="font-size: large;">
        <br>



        {% block content %}{% endblock %}
    </div>

</body>

</html>