.thDireita th {
    text-align: right;
    vertical-align: text-top;
}

.errorList li{
    color: red;
    list-style-type: none;
}

.helptext {
    color: red;
    font-size: 10px;
}

.formulario th {
    text-align: center;
    vertical-align: text-top;
}
