{% extends 'projetoDefinitivo/base.html' %}
{% load static %}
{% block content %}
{% include 'contatos/links.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'contatos/css/estilo.css' %}">
{% endblock %}

<h1>Cria um contato</h1>
<br>
<div style="text-align: center;">
    <form action="" method="POST">
        {% csrf_token %}
        <table class='formulario'>
            {{ formulario.as_p }}
        </table>
        <button type="submit">Cria contato</button>
    </form>
</div>


{% endblock %}