{% extends 'Homepage/base.html' %}
{% load static %}
{% block content %}
{% include 'contatos/links.html' %}
<h1>Lista de Contatos</h1>
<table>
    <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Salário</th>
        <th>Ações disponíveis</th>
    </tr>
    {% for pessoa in pessoas %}
    <tr>
        <td>{{ pessoa.nome }}</td>
        <td>{{pessoa.idade }}</td>
        <td>{{ pessoa.salario }}</td>

    </tr>
    {% empty %}
    <tr>
        <th colspan="5">Ainda não tem contatos cadastrados</th>
    </tr>
    {% endfor %}
</table>
{% endblock %}